header {
	margin: auto;
	width:1000px;	
}

body, nav a
{
    font-family: 'ralewayextralight', Arial, sans-serif;
    color: #143218;
    background:pink;
}
div {
	z-index:1;
	}
article {
	width : 78% ;
	margin-right:auto;
	margin-left:2%;
	background:pink;
	overflow-x:auto;
}

		
canvas {
            display: inline;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            width: 80%;
            height: 100%;
        }


.graph
{
    width: 600px;
    margin: auto;
}

.chiffre
{
    color: #df924a;
    font-family: 'bebas_neueregular', serif;
    font-size: 1.7em;
    
}

.cle
{
    color: #44646f;
    font-family: 'Trebuchet MS', serif;
    font-size: 1.0em;
    font-weight: bold;
    
}

.exergue
{
    color: #df924a;
    font-family: 'bebas_neueregular', serif;
    font-size: 1.0em;
    
}
.exergue:hover
{
    color: #df924a;
    font-family: 'bebas_neueregular', serif;
    font-size: 1.0em;
    opacity: 0.8;
    
}

.chiffre:hover
{
    opacity: 0.8;
    font-family: 'bebas_neueregular', serif;
    font-size: 1.7em;
    
}

.bloc_final
{
	background-color:#44646f;
    
}

section h1, footer h1
{
    font-family: 'bebas_neueregular', serif;
    font-weight: normal;
    text-transform: uppercase;
}

p
{
    padding-left: 20px;
    padding-right: 20px;
    text-align: justify;
}


/* Trait */
.hr2
{
   width: 30%;
   color: #44646f; 
   height: 1px;
   margin-top: 60px;
   margin-bottom: 60px;
}

hr
{
   width: 40%;
   color: #44646f; 
   height: 1px;
   margin-top: 30px;
   margin-bottom: 20px;
}

/* Navigation */
.box {
	width:20%;
	height:100%;
	position:fixed;
	display: inline-block;
    text-align: center;
	top:0px;
	left:80%;
	overflow-x: auto;
  	overflow-y: hidden;
  	background:white;
  	border-left-style:solid;
  	
}
nav {
	width:150px;
	margin:auto;
	text-align:left;
	background:white;
}

nav ul
{
    list-style-type: none;
}

nav li
{
    display: inline-block;
    margin-right: 20px;

}

nav a
{
    font-size: 0.9em;
    color: #000000;
    padding-bottom: 3px;
    text-decoration: none;

}

.link
{

    color: #ffffff;


}

nav a:hover
{
   color: #df924a;
 /*  border-bottom: 1px solid #df924a; */
}

/* Bannière */

#banniere_image
{

    width: 1000px;
    background: url('images/marmotte.jpg') no-repeat;
    margin-top: 0px;
    height: 580px;
    position: relative;
    margin-bottom: 25px;
}


#banniere_description
{
	font-family: 'helvetica_neueregular', serif;
	font-size: 4.5em;
	line-height: 490px;
	text-align: center;
	color: black;
	opacity: 0.99;
}

#Bike
{
	font-family: 'bebas_neueregular', serif;
	font-size: 4.15em;
	line-height: 550px;
	text-align: center;
	color: white;
}

.titre_principal {
	margin-top:110%;	
}

.titre_section
{
	background:  url('images/marmotte.jpg') no-repeat top center ;
	font-family: 'bebas_neueregular', serif;
	font-size: 3.15em;
	text-align: center;
	margin-top: 100px;
	padding-top: 300px;
	color: black;
}
.titre_subsection
{
	font-family: 'ralewayextralight', serif;
	font-size: 1.8em;
	margin: auto;
	text-align: center;
	margin-top: 0px;
	margin-bottom: 25px;
	color: #44646f;
	opacity: 0.99;
	position: relative;
}

.logo
{
	margin-left: auto;
    margin-right: auto;
    position: relative;
	text-align: center;
	margin-top: 20px;
	margin-bottom: 20px;

}


/* Footer */

footer
{
    background:  url('images/ico_top.png') no-repeat top center, url('images/separateur.png') repeat-x top, url('images/ombre.png') repeat-x top;
    padding-top: 25px;
    width:80%;
}

footer p, footer ul
{
    font-size: 0.8em;
}

footer h1
{
    font-size: 1.1em;
}

.dangereux
{
    display: inline-block;
    vertical-align: top;
    width: 46%;
    text-align: justify;
    padding-left: 18px;
    padding-right: 18px;
}

.dangereux3
{
    display: inline-block;
    
    width: 30%;
    text-align: justify;
    padding-left: 15px;
    padding-right: 15px;
}

.pchiffre
{

    text-align: center;
    font-family: 'bebas_neueregular', serif;
    font-size: 1.4em;
    font-weight: bold;
    color: #44646f;
    margin: 0em;

}

.pchiffre_small
{

    text-align: center;
    font-family: 'bebas_neueregular', serif;
    font-size: 1.0em;
    font-weight: bold;
    color: #44646f;
    margin: 0em;

}


.note
{
    display: inline-block;
    vertical-align: top;
    width: 26%;
    color: white;
    padding-left: 15px;
}
.tweet
{
    display: inline-block;
    vertical-align: top;
    width: 10%;
    color: white;
    padding-left: 10px;
}
.contact
{
    display: inline-block;
    vertical-align: top;
    width: 26%;
    color: white;
    padding-left: 15px;
}

.formulaire
{
    display: inline-block;
    vertical-align: top;
    width: 26%;
    color: white;
    padding-left: 15px;
}

.signature
{
    margin-left: 13px;
    margin-bottom: 15px;
    font-size: 0.7em;
    color: #ffffff;
}


form {
    /* Pour le centrer dans la page */
    margin: 0 auto;
    width: 300px;
    /* Pour voir les limites du formulaire */
    padding: 1em;

}
form div + div {
    margin-top: 1em;
}
label {
    /* Afin de s'assurer que toutes les étiquettes aient la même dimension et soient alignées correctement */
    display: inline-block;
    width: 90px;
    text-align: right;
    font: 0.8em 'ralewayextralight';
}

.button {
    /* Pour positionner les boutons de la même manière que les champs textuels */
    padding-left: 90px; /* même dimension que les étiquettes */
}

button {
    /* Cette marge représente approximativement le même espace
       que celui entre les étiquettes et les champs textuels */
    margin-left: .5em;
}
input, textarea {
    /* Afin de s'assurer que tous les champs textuels utilisent la même police
       Par défaut, textarea utilise une police à espacement constant */
    font: 0.8em 'ralewayextralight';

    /* Pour donner la même dimension à tous les champs textuels */
    width: 200px;

    /* Pour harmoniser l'apparence des bordures des champs textuels */
    border: 1px solid #999;
}



textarea {
    /* Pour aligner correctement les champs multilignes et leurs étiquettes */
    vertical-align: top;

    /* Pour donner assez d'espace pour entrer du texte */
    height: 4em;

    /* Pour permettre aux utilisateurs de redimensionner un champ textuel horizontalement
       Cela ne marche pas avec tous les navigateurs  */
    resize: vertical;
}




@font-face {
    font-family: 'helvetica_neueregular';
    src: url('HelveticaNeue-UltraLight-webfont.eot');
    src: url('HelveticaNeue-UltraLight-webfont.eot?#iefix') format('embedded-opentype'),
         url('HelveticaNeue-UltraLight-webfont.woff2') format('woff2'),
         url('HelveticaNeue-UltraLight-webfont.woff') format('woff'),
         url('HelveticaNeue-UltraLight-webfont.ttf') format('truetype'),
         url('HelveticaNeue-UltraLight-webfont.svg#helvetica_neueregular') format('svg');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'bebas_neueregular';
    src: url('BebasNeue-webfont.eot');
    src: url('BebasNeue-webfont.eot?#iefix') format('embedded-opentype'),
         url('BebasNeue-webfont.woff2') format('woff2'),
         url('BebasNeue-webfont.woff') format('woff'),
         url('BebasNeue-webfont.ttf') format('truetype'),
         url('BebasNeue-webfont.svg#bebas_neueregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'ralewayextralight';
    src: url('Raleway-ExtraLight-webfont.eot');
    src: url('Raleway-ExtraLight-webfont.eot?#iefix') format('embedded-opentype'),
         url('Raleway-ExtraLight-webfont.woff2') format('woff2'),
         url('Raleway-ExtraLight-webfont.woff') format('woff'),
         url('Raleway-ExtraLight-webfont.ttf') format('truetype'),
         url('Raleway-ExtraLight-webfont.svg#ralewayextralight') format('svg');
    font-weight: normal;
    font-style: normal;

}