/* Elements html prédéfinis */

body
{
    font-family: 'droid', Arial, sans-serif;
    color: #0E5348;
    background:'white';
    text-rendering: optimizeLegibility;
}

canvas {
            display: inline;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            width: 80%;
            height: 100%;
 }


 
p
{
    padding-left: 20px;
    padding-right: 30px;
    text-align: justify;
}



/* Navigation */
.box {
	width:20%;
	height:100%;
	position:fixed;
	display: inline;
	top:0px;
	left:80%;
	overflow-x: auto;
  	overflow-y: hidden;
  	background:#FFD6DD;
  	box-shadow: 0 0 20px rgba(0,0,0,.30);
  	z-index:3;
}

nav {
	font-family: 'droid-bold', Arial, sans-serif;
    color: #0E5348;
	width:180px;
	left: 0px;
	text-align:left;
	background:#FFD6DD;
	font-size:large;
}

nav ul
{
    list-style-type: none;
}

nav li
{
    display: block;
    margin-bottom: 30px;
}

nav a, footer a
{
	color: #0E5348;
    text-decoration: none;
    transition: all .1s ease;
}

nav a:hover, footer a:hover
{
   color: #107671;
   cursor: pointer;
   padding: 5px;
}

/* Footer */

footer
{
    padding-top: 10px;
    margin-right:2px;
    margin-left:2px;
    display:block ;
    position : fixed ;
    width:180px;
    bottom : 2px ;
    font-size : 0.8em ;
    font-family: 'droid-bold' ;
}

footer ul
{
    list-style-image: url('Images/coeur.png') ;
}

/* Fin footer */


/* Identités créées */
#banniere
{	
	font-family: 'poetsen', serif;
	font-size: 2.5em;
	margin-top:10px;
	margin-left:20px;
	margin-bottom:50px;
	line-height: 1.2em;
	text-align: left;
}

#corps {
	display:block;
	position:absolute;
	width : 78% ;
	top:105%;
	margin-right:auto;
	margin-left:2%;
	background:'white';
	overflow-x:auto;
}
	

/* Classes crées */

.titre_section
{
	background:  url('images/capotes.jpg') no-repeat top center ;
	font-family: 'poetsen', 'Gill Sans', Arial, sans-serif;
	font-size: 3.15em;
	text-align: center;
	margin-top: 100px;
	padding-top: 300px;
	color: #0E5348;
}

.titre_section:hover{
	opacity:0.8;
	transition: all .1s ease	
}
.titre_subsection
{
	font-family: 'Gill Sans', serif;
	font-size: 1.8em;
	margin: auto;
	text-align: center;
	margin-top: 0px;
	margin-bottom: 25px;
	color: #0E5348;
	opacity: 0.99;
	position: relative;
}

.logo
{
	margin-left: auto;
    margin-right: auto;
    position: relative;
	text-align: center;
	margin-top: 20px;
	margin-bottom: 20px;

}

.emph { 
	color: #F54765;
}

.emph:hover {
	opacity:0.8;
}

.graph
{
    width: 600px;
    margin: auto;
}

.chiffre
{
    color: #df924a;
    font-family: 'Gill Sans', serif;
    font-size: 1.7em;
    
}

.cle
{
    color: #44646f;
    font-family: 'Trebuchet MS', serif;
    font-size: 1.0em;
    font-weight: bold;
    
}

.exergue
{
    color: #df924a;
    font-family: 'Gill Sans', serif;
    font-size: 1.0em;
    
}
.exergue:hover
{
    color: #df924a;
    font-family: 'Gill Sans', serif;
    font-size: 1.0em;
    opacity: 0.8;
    
}

.chiffre:hover
{
    opacity: 0.8;
    font-family: 'Gill Sans', serif;
    font-size: 1.7em;
    
}


section h1
{
    font-family: 'Gill Sans', serif;
    font-weight: normal;
    text-transform: uppercase;
}


/* Trait
.hr2
{
   width: 30%;
   color: #44646f; 
   height: 1px;
   margin-top: 60px;
   margin-bottom: 60px;
}

hr
{
   width: 40%;
   color: #44646f; 
   height: 1px;
   margin-top: 30px;
   margin-bottom: 20px;
}
*/



.dangereux
{
    display: inline-block;
    vertical-align: top;
    width: 46%;
    text-align: justify;
    padding-left: 18px;
    padding-right: 18px;
}

.dangereux3
{
    display: inline-block;
    
    width: 30%;
    text-align: justify;
    padding-left: 15px;
    padding-right: 15px;
}

.pchiffre
{

    text-align: center;
    font-family: 'Gill Sans', serif;
    font-size: 1.4em;
    font-weight: bold;
    color: #44646f;
    margin: 0em;

}

.pchiffre_small
{

    text-align: center;
    font-family: 'Gill Sans', serif;
    font-size: 1.0em;
    font-weight: bold;
    color: #44646f;
    margin: 0em;

}


.signature
{
    margin-left: 13px;
    margin-bottom: 15px;
    font-size: 0.7em;
    color: #ffffff;
}


form {
    /* Pour le centrer dans la page */
    margin: 0 auto;
    width: 300px;
    /* Pour voir les limites du formulaire */
    padding: 1em;

}
form div + div {
    margin-top: 1em;
}
label {
    /* Afin de s'assurer que toutes les étiquettes aient la même dimension et soient alignées correctement */
    display: inline-block;
    width: 90px;
    text-align: right;
    font: 0.8em 'ralewayextralight';
}

.button {
    /* Pour positionner les boutons de la même manière que les champs textuels */
    padding-left: 90px; /* même dimension que les étiquettes */
}

button {
    /* Cette marge représente approximativement le même espace
       que celui entre les étiquettes et les champs textuels */
    margin-left: .5em;
}
input, textarea {
    /* Afin de s'assurer que tous les champs textuels utilisent la même police
       Par défaut, textarea utilise une police à espacement constant */
    font: 0.8em 'ralewayextralight';

    /* Pour donner la même dimension à tous les champs textuels */
    width: 200px;

    /* Pour harmoniser l'apparence des bordures des champs textuels */
    border: 1px solid #999;
}



textarea {
    /* Pour aligner correctement les champs multilignes et leurs étiquettes */
    vertical-align: top;

    /* Pour donner assez d'espace pour entrer du texte */
    height: 4em;

    /* Pour permettre aux utilisateurs de redimensionner un champ textuel horizontalement
       Cela ne marche pas avec tous les navigateurs  */
    resize: vertical;
}


@font-face {
    font-family: 'poetsen';
    src: url('Police/PoetsenOne-Regular-webfont.eot');
    src: url('Police/PoetsenOne-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('Police/PoetsenOne-Regular-webfont.woff') format('woff'),
         url('Police/PoetsenOne-Regular-webfont.ttf') format('truetype'),
         url('Police/PoetsenOne-Regular-webfont.svg#poetsenoneregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'droid-bold';
    src: url('Police/DroidSans-Bold-webfont.eot');
    src: url('Police/DroidSans-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('Police/DroidSans-Bold-webfont.woff') format('woff'),
         url('Police/DroidSans-Bold-webfont.ttf') format('truetype'),
         url('Police/DroidSans-Bold-webfont.svg#droid_sansbold') format('svg');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'droid';
    src: url('Police/DroidSans-webfont.eot');
    src: url('Police/DroidSans-webfont.eot?#iefix') format('embedded-opentype'),
         url('Police/DroidSans-webfont.woff') format('woff'),
         url('Police/DroidSans-webfont.ttf') format('truetype'),
         url('Police/DroidSans-webfont.svg#droid_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

